@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   #root {
      font-family: 'Geist', sans-serif;
      @apply h-svh dark:bg-mate bg-gray-100 bg-fixed overflow-hidden;
      /* @apply min-h-svh dark:bg-black bg-gray-100 bg-fixed; */
   }
   label {
      @apply text-gray-800 dark:text-gray-200/80;
   }
   * {
      @apply transition-all;
   }
   ::-webkit-scrollbar {
      display: none;
   }
   * {
      scrollbar-width: none;
   }
}

@layer components {
   .skill {
      @apply font-semibold text-white md:px-4 lg:px-6 px-2 py-4 md:py-5 lg:py-12 text-lg lg:text-xl text-center dark:bg-gray-700/40 dark:text-white/90 bg-gray-600 flex justify-center items-center font-mono;
   }
   .section-title {
      @apply md:text-4xl text-3xl uppercase underline text-center md:text-left  dark:text-gray-200  font-mono text-gray-800/80;
   }
   .hero-text {
      text-shadow: #7f27ff 3px 4px 0px;
      letter-spacing: 7px;
      background: linear-gradient(to top, #7f27ff 20%, #b27eff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }

   .job-text {
      text-shadow: rgb(163, 163, 163) 3px 4px 0px;
      font-size: 100px;
      letter-spacing: 5px;
   }

   .hero-image img {
      filter: drop-shadow(5px 5px 20px #7d27ff9a);
   }

   .paragraph {
      @apply md:text-lg text-gray-800/70 dark:text-gray-100/80;
   }

   .tool {
      @apply text-gray-800 dark:bg-gray-800/40 bg-white shadow-md dark:text-gray-200 dark:border-gray-200/60  md:px-8 px-3 py-1 md:py-3 text-center border-2 border-dashed border-gray-600 text-lg font-mono;
   }

   .input {
      @apply px-3 outline-none dark:text-gray-100 text-gray-600 rounded-sm bg-transparent focus:border-gray-700 dark:focus:border-gray-300/50 border-2 dark:border-gray-400/40 py-2  focus:outline-none;
   }
   .illustration {
      filter: brightness(0.7);
   }
}

.project {
   clip-path: polygon(0 0, 100% 0, 100% 90%, 40% 90%, 35% 100%, 0 100%);
}

.project:hover .image {
   top: 0;
}
/* The switch - the box around the slider */
#theme-toggle-button {
   font-size: 12px;
   position: relative;
   display: inline-block;
   width: 5em;
   cursor: pointer;
}

/* Hide default HTML checkbox */
#toggle {
   opacity: 0;
   width: 0;
   height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
   transition-property: all;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
   fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
   transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
   opacity: 1;
}

#toggle:checked + svg #sun {
   opacity: 0;
}

#moon {
   opacity: 0;
}

#toggle:checked + svg #moon {
   opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
   opacity: 1;
}

#toggle:checked + svg #cloud {
   opacity: 0;
}

#stars {
   opacity: 0;
}

#toggle:checked + svg #stars {
   opacity: 1;
}

@font-face {
   font-family: 'Geist';
   font-weight: 400;
   src: url('fonts/Geist-Regular.woff2') format('woff2');
}

@font-face {
   font-family: 'Geist';
   font-weight: 600;
   src: url('fonts/Geist-SemiBold.woff2') format('woff2');
}

@font-face {
   font-family: 'Geist';
   font-weight: 800;
   src: url('fonts/Geist-Black.woff2') format('woff2');
}
